body { 
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
}

.title{
    font-size: 35px;
    font-family: 'Merienda One', cursive;
}


.div1{
    
    background-image: url(../images/div1.jpg);

}

.divtitle{
    
    text-align: center;
    color:#505050;
    font-size: 50px;
    line-height: 56px;
    font-family: 'Merienda One', cursive;

}


.content-title {
    margin-top: 18px;
    text-align: center;
    font-family: 'Merienda One', cursive;
    color: black;
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 18px;
}

.content {
    position: relative;
    font-family: 'Merienda One', cursive;
    color:#505050;
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 20px;
}



.button-text {
    position: relative;
    display: inline-block;
    padding: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #505050;
    font-family: Arial;
    color: #505050;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 18px;
}
.button-text:hover {
    background-color:  #cccccc;
  }

.buttona{
    font-weight: bold;
    text-decoration: none;
    color:  #505050; 
}  

.buttona:hover{
    text-decoration: none; 
    color:#505050;
}

.marg{
    margin-top: 18px;
}

.headshot{
    margin: 18px 80px 18px 80px;
}

.footer-container {
    
    margin-top: 18px;

    background-color: #505050;
}

.footer-column {
    position: relative;
    width: 360px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
}

.footer-column-last {
    margin-right: 0px;

}

.title-footer {
    position: relative;
    font-family: 'Merienda One', cursive;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

.avatar {
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    background-image: url(../images/avatar.png);
}

.text {
    position: relative;
    font-family: Arial;
    font-size: 14px;
    color: #cccccc;
    line-height: 20px;
    margin-bottom: 18px;
}

.icon {
    margin-right: 8px;

}

.a2{
    font-weight: bold;
    text-decoration: none;
    color: #cccccc;
}

.a2:hover{
    text-decoration: none; 
    color: #cccccc;
}
